# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: "Blog | Caleb Nance | Web Development"

description: javascript, php, and all things code explained by Caleb Nance

# the subpath of your site, e.g. /blog
baseurl: ""

# the base hostname & protocol for your site, e.g. http://example.com
url: "https://blog.calebnance.com"

permalink: /:categories/:title.html

google_analytics: UA-23590872-1

disqus:
  shortname: blogcalebnancecom

sass:
  sass_dir: _scss
  style: compressed

# gem install kramdown rouge
markdown: kramdown
kramdown:
  input: GFM
  syntax_highlighter: rouge

plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-redirect-from

# only turn this on when production ready
minify_html: false

exclude:
  - Gemfile
  - Gemfile.lock
