# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: "Blog | Caleb Nance | Web Development"

description: javascript, php, react, and all things code explained by Caleb Nance

# the subpath of your site, e.g. /blog
baseurl: ""

# the base hostname & protocol for your site, e.g. http://example.com
url: "https://blog.calebnance.com"

permalink: /:categories/:title.html

google_analytics: UA-23590872-1

disqus:
  shortname: blogcalebnancecom

sass:
  sass_dir: _scss
  style: compressed

# gem install kramdown rouge
markdown: kramdown
kramdown:
  input: GFM
  syntax_highlighter: rouge

# Build settings
plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-redirect-from

minify_html: false

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.

exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
