---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// break points
$xs: 768px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

// base font variables
$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$base-font-size: 14px;
$base-font-weight: 400;
$base-line-height: 1.5;
$small-font-size: $base-font-size * 0.875;

// nav bar colors
$nav-black: #24292e;
$nav-grey: rgba(255, 255, 255, 0.125);
$nav-white: rgba(255, 255, 255, 0.75);

// base color variables
$tx-color: #333;
$tx-white: #fff;
$bg-color: #fdfdfd;

$blue-color: #275d8b;
$blue-color-light: lighten($blue-color, 25%);
$blue-color-dark: darken($blue-color, 25%);

$grey-color: #828282;
$grey-color-light: lighten($grey-color, 25%);
$grey-color-lighter: lighten($grey-color, 35%);
$grey-color-dark: darken($grey-color, 25%);

$grey-color-2: #f5f5f5;
$grey-color-3: #ccc;

// heading sizes
$h1-xs: 20px;
$h1-sm: 26px;
$h1-md: 30px;
$h1-lg: 32px;

$h2-xs: 18px;
$h2-sm: 20px;
$h2-md: 24px;
$h2-lg: 24px;

$h3-xs: 16px;
$h3-sm: 18px;
$h3-md: 22px;
$h3-lg: 22px;

$h4-xs: 16px;
$h4-sm: 18px;
$h4-md: 20px;
$h4-lg: 22px;

$h5: 20px;
$h6: 16px;

// base spacing variables
$space1: 8px;
$space2: $space1 * 2;
$space3: $space1 * 3;
$space4: $space1 * 4;

$space-half: $space1 / 2;
$space-quarter: $space1 / 4;

// /* sm */
// @media (min-width: $sm) {
//
// }
//
// /* md */
// @media (min-width: $md) {
//
// }
//
// /* lg */
// @media (min-width: $lg) {
//
// }

@import "master"
