---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// base font variables
$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$base-font-size:   14px;
$base-font-weight: 400;
$base-line-height: 1.5;
$small-font-size:  $base-font-size * 0.875;

// base color variables
$tx-color:         #333;
$tx-white:         #fff;
$bg-color:         #fdfdfd;

$blue-color:       #337ab7;
$blue-color-light: lighten($blue-color, 25%);
$blue-color-dark:  darken($blue-color, 25%);

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 25%);
$grey-color-dark:  darken($grey-color, 25%);

// heading sizes
$h1: 32px;
$h2: 26px;
$h3: 22px;
$h4: 20px;
$h5: 18px;
$h6: 16px;

// base spacing variables
$space1: 8px;
$space2: $space1 * 2;
$space3: $space1 * 3;
$space4: $space1 * 4;

$space-half: $space1 / 2;
$space-quarter: $space1 / 4;

@import "master"
