body {
  background-color: $bg-color;
  color: $tx-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

a {
  color: $blue-color;
  text-decoration: none;
}

a:focus,
a:hover {
  color: $blue-color-dark;
}

ol,
p,
pre,
ul {
  line-height: 24px;
  margin-bottom: $space2;
}

pre {
  background-color: $grey-color-2;
  border: 1px solid $grey-color-3;
  border-radius: 4px;
  color: #333;
  display: block;
  font-size: 13px;
  line-height: 1.42857143;
  margin: 0 0 10px;
  padding: 9.5px;
  word-break: break-all;
  word-wrap: break-word;
}

code.highlighter-rouge {
  background-color: $grey-color-3;
  border-radius: 4px;
  color: $blue-color-dark;
  font-size: 90%;
  padding: 2px 4px;
}

.container ul {
  padding-left: $space2;
}

h1 {
  font-size: $h1-xs;
}

h2 {
  font-size: $h2-xs;
}

h3 {
  font-size: $h3-xs;
}

h4 {
  font-size: $h4-xs;
}

/* sm */
@media (min-width: $sm) {
  h1 {
    font-size: $h1-sm;
  }

  h2 {
    font-size: $h2-sm;
  }

  h3 {
    font-size: $h3-sm;
  }

  h4 {
    font-size: $h4-sm;
  }
}

/* md */
@media (min-width: $md) {
  h1 {
    font-size: $h1-md;
  }

  h2 {
    font-size: $h2-md;
  }

  h3 {
    font-size: $h3-md;
  }

  h4 {
    font-size: $h4-md;
  }
}

/* lg */
@media (min-width: $lg) {
  h1 {
    font-size: $h1-lg;
  }

  h2 {
    font-size: $h2-lg;
  }

  h3 {
    font-size: $h3-lg;
  }

  h4 {
    font-size: $h4-lg;
  }
}

@media (min-width: $md) {
  .mr16-md {
    margin-right: 16px;
  }
}
