body {
  background-color: $bg-color;
  color: $tx-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

a {
  color: $blue-color;
}

a:hover,
a:focus {
  color: $blue-color-dark;
}
