.home {
  h1.page-heading {
    border-bottom: 1px solid $grey-color-light;
    padding-bottom: $space1;
  }
  .post-block {
    .post-data {
      float: right;
    }
    h2 {
      font-size: $h4;
    }
  }

  .rss-subscribe {
    border-bottom: 1px solid $grey-color-light;
    border-top: 1px solid $grey-color-light;
    margin: $space1 0;
    padding: $space1 0;
  }
}
