.navbar {
  margin-bottom: $space2;
}

.navbar-dark.bg-dark {
  background-color: $nav-black;
}

.dropdown-menu {
  background-color: $nav-black;
  border-radius: 0;
}

.dropdown-item {
  color: $tx-white;

  &:focus,
  &:hover,
  &.active,
  &:active {
    background-color: $black;
    color: $tx-white;
  }
}
