.navbar {
  border: none;
  border-radius: 0;
  margin-bottom: $space1;
}

.navbar-default {
  background-color: $nav-black;

  .navbar-brand {
    color: $tx-white;

    &:hover {
      color: $tx-white;
      text-decoration: underline;
    }
  }

  .navbar-nav > li > a {
    color: $nav-white;
    &:hover,
    &:focus {
      color: #fff;
    }
  }

  .navbar-nav > .open > a {
    background-color: $nav-grey;
    color: $nav-white;
    &:hover,
    &:focus {
      background-color: $nav-grey;
      color: $nav-white;
    }
  }

  .dropdown-menu>.active>a,
  .dropdown-menu>.active>a:hover,
  .dropdown-menu>.active>a:focus {
    background-color: $nav-black;
  }

}
