// post
.post {
  h1.post-title {
    font-size: $h1;
  }
  .post-dates {
    border-bottom: 1px solid $grey-color-light;
    margin-bottom: $space1;
    padding-bottom: $space-half;
    text-align: right;
  }
  .post-dates span {
    margin-right: $space1;
  }
  .post-dates span:last-child {
    margin-right: 0;
  }

}

// disqus comments
.show-comments {
  background-color: $bg-color;
  border: 1px solid $grey-color-light;
  cursor: pointer;
  margin-top: $space2;
  padding: $space2;
  text-align: center;
}
.show-comments:hover {
  background-color: $blue-color;
  border-color: $blue-color-dark;
  color: $tx-white;
}
#disqus_thread {
  margin-bottom: $space2;
}

// breadcrumb
.breadcrumb {
  border-radius: 0;
  margin-bottom: $space2;
}

// tags
.post-tag-heading {
  border-bottom: 1px solid $grey-color-light;
  padding-bottom: $space-half;
}
.tag-list {
  list-style-type: none;
  margin: 0 0 $space3 0;
  padding: 0;
  li.tag-list-item {
    display: inline-block;
    padding: 0 $space1 $space-half 0;
  }
}

// related posts
.related {
  h3.related-heading {
    border-bottom: 1px solid $grey-color-light;
    font-size: $h3;
    margin-bottom: $space-half;
    padding-bottom: $space-half;
  }
  .related-posts {
    list-style-type: none;
    margin-bottom: $space3;
    padding-left: 0;
    li {
      border-bottom: 1px solid $grey-color-lighter;
      padding: $space1 0;
      &:first-child {
        padding-top: 0;
      }
    }
  }
}
