// post

.post {
  h1.post-title {
    border-bottom: 1px solid $grey-color-light;
    margin-top: $space2;
    padding-bottom: $space1;
  }

  h2,
  h4 {
    margin: 24px 0 0;
  }

  a {
    text-decoration: underline;

    &.btn {
      text-decoration: none;
    }
  }
}

// iphone/ipad table specs
table.mobile-specs {
  margin: 16px 0;
  width: 100%;

  thead {
    border-bottom: 1px solid $grey-color-light;
  }

  tr {
    &:nth-child(even) {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  th,
  td {
    padding: 4px 2px;
    text-align: center;

    &:nth-child(1) {
      text-align: left;
    }
  }
}

// highlight wrapper
.highlight-wrapper {
  position: relative;

  .highlight-file-label {
    background-color: $blue-color;
    border-bottom-left-radius: $space-half;
    border-top-right-radius: $space-half;
    color: $tx-white;
    padding: $space1;
    position: absolute;
    right: 0;
    top: 0;
  }

  pre {
    padding-top: 36px;
  }
}

// breadcrumb
.breadcrumb {
  background-color: $grey-color-2;
  padding: 0;

  @media (max-width: $sm) {
    display: block;
  }
  
  .breadcrumb-item {
    align-items: center;
    height: 48px;
  }

  .breadcrumb-item.active {
    color: $blue-color-dark;
  }
  
  a {
    align-items: center;
    display: flex;
    min-height: 48px;
    min-width: 48px;
    padding: 8px;
  }
}

/************
 * side bar *
 ************/

// post details
.post-details {
  margin-top: $space1;

  @media (min-width: $sm) {
    margin-top: 61px;
  }

  @media (min-width: $md) {
    margin-top: 71px;
  }

  @media (min-width: $lg) {
    margin-top: 37px;
  }
}

.post-dates {
  font-size: $legal-xs;

  @media (min-width: $sm) {
    border-bottom: 1px solid $grey-color-light;
    font-size: $legal-sm;
    margin-bottom: $space1;
    padding-bottom: $space-half;
    text-align: right;
  }
}

.post-dates span {
  margin-right: $space1;
}

.post-dates span:last-child {
  margin-right: 0;
}

// tags
h3.post-tag-heading {
  border-bottom: 1px solid $grey-color-light;
  margin-top: $space3;
  padding-bottom: $space-half;
}

ul.tag-list {
  list-style-type: none;
  margin: 0 0 $space3;
  padding: 0;

  li.tag-list-item {
    display: inline-block;
    padding: 0 $space1 $space-half 0;
  }
}

// related posts
.related {
  h3.related-heading {
    border-bottom: 1px solid $grey-color-light;
    margin-bottom: $space-half;
    margin-top: $space3;
    padding-bottom: $space-half;
  }

  .related-posts {
    list-style-type: none;
    margin-bottom: $space3;
    padding-left: 0;

    li {
      border-bottom: 1px solid $grey-color-lighter;
      padding: $space1 0;

      &:first-child {
        padding-top: 0;
      }
    }
  }
}
