// post
.post {
  h1.post-title {
    border-bottom: 1px solid $grey-color-light;
    padding-bottom: $space1;
  }

  h2,
  h4 {
    margin: 24px 0 0 0;
  }

  a {
    text-decoration: underline;
  }
}

// highlight wrapper
.highlight-wrapper {
  position: relative;

  .highlight-file-label {
    background-color: $blue-color;
    border-bottom-left-radius: $space-half;
    border-top-right-radius: $space-half;
    color: $tx-white;
    padding: $space1;
    position: absolute;
    right: 0;
    top: 0;
  }

  pre {
    padding-top: 36px;
  }
}

// disqus comments
.show-comments {
  background-color: $bg-color;
  border: 1px solid $grey-color-light;
  cursor: pointer;
  margin-top: $space2;
  padding: $space2;
  text-align: center;
}
.show-comments:hover {
  background-color: $blue-color;
  border-color: $blue-color-dark;
  color: $tx-white;
}
#disqus_thread {
  margin-bottom: $space2;
}

// breadcrumb
.breadcrumb {
  border-radius: 0;
  margin-bottom: $space2;
  li {
    display: block;
  }
  /* sm */
  @media (min-width: $sm) {
    li {
      display: inline-block;
    }
  }
}

/************
 * side bar *
 ************/

// post details
.post-details {
  margin-top: 38px;
}
.post-dates {
  border-bottom: 1px solid $grey-color-light;
  margin-bottom: $space1;
  padding-bottom: $space-half;
  text-align: right;
}
.post-dates span {
  margin-right: $space1;
}
.post-dates span:last-child {
  margin-right: 0;
}

// tags
h3.post-tag-heading {
  border-bottom: 1px solid $grey-color-light;
  margin-top: $space3;
  padding-bottom: $space-half;
}

ul.tag-list {
  list-style-type: none;
  margin: 0 0 $space3 0;
  padding: 0;
  li.tag-list-item {
    display: inline-block;
    padding: 0 $space1 $space-half 0;
  }
}

// related posts
.related {
  h3.related-heading {
    border-bottom: 1px solid $grey-color-light;
    margin-bottom: $space-half;
    margin-top: $space3;
    padding-bottom: $space-half;
  }
  .related-posts {
    list-style-type: none;
    margin-bottom: $space3;
    padding-left: 0;
    li {
      border-bottom: 1px solid $grey-color-lighter;
      padding: $space1 0;
      &:first-child {
        padding-top: 0;
      }
    }
  }
}
