.video-wrapper {
  text-align: center;
}

.video {
  background-color: $grey-color-2;
  border: 1px solid $grey-color-3;
  border-radius: 4px;
  height: auto;
  margin-bottom: 32px;
  max-width: 100%;
  padding: 5px;

  @media (min-width: $sm) {
    padding: 15px;
  }
}
