<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">blog.cn</a>
        </div>

        <div class="collapse navbar-collapse" id="nav-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown" class="active">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">javascript <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li {% if page.url contains "/javascript/" %}class="active"{% endif %}>
                  <a href="/tag/javascript/">javascript {% if page.url contains "/javascript/" %}<span class="sr-only">(current)</span>{% endif %}</a>
                </li>
                <li {% if page.url contains "/jquery/" %}class="active"{% endif %}>
                  <a href="/tag/jquery/">jquery {% if page.url contains "/jquery/" %}<span class="sr-only">(current)</span>{% endif %}</a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">php <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li {% if page.url contains "/php/" %}class="active"{% endif %}>
                  <a href="/tag/php/">php {% if page.url contains "/php/" %}<span class="sr-only">(current)</span>{% endif %}</a>
                </li>
                <li {% if page.url contains "/laravel/" %}class="active"{% endif %}>
                  <a href="/tag/laravel/">laravel {% if page.url contains "/laravel/" %}<span class="sr-only">(current)</span>{% endif %}</a>
                </li>
                <li {% if page.url contains "/joomla/" %}class="active"{% endif %}>
                  <a href="/tag/joomla/">joomla {% if page.url contains "/joomla/" %}<span class="sr-only">(current)</span>{% endif %}</a>
                </li>
              </ul>
            </li>
            <li {% if page.url contains "/html/" %}class="active"{% endif %}>
              <a href="/tag/html/">html {% if page.url contains "/html/" %}<span class="sr-only">(current)</span>{% endif %}</a>
            </li>
            <li {% if page.url contains "/css/" %}class="active"{% endif %}>
              <a href="/tag/css/">css {% if page.url contains "/css/" %}<span class="sr-only">(current)</span>{% endif %}</a>
            </li>
            <li {% if page.url contains "/mysql/" %}class="active"{% endif %}>
              <a href="/tag/mysql/">mysql {% if page.url contains "/mysql/" %}<span class="sr-only">(current)</span>{% endif %}</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">social <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="https://codepen.io/calebnance">Codepen</a>
                </li>
                <li>
                  <a href="https://github.com/calebnance">Github</a>
                </li>
                <li>
                  <a href="https://calebnance.com">Personal Website</a>
                </li>
                <li>
                  <a href="https://stackoverflow.com/users/1308719/caleb-nance">Stackoverflow</a>
                </li>
                <li>
                  <a href="https://teamtreehouse.com/calebnance">Treehouse</a>
                </li>
                <li>
                  <a href="https://twitter.com/calebnance">Twitter</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      {{ content }}
    </div>

    <div class="container">
      {% include footer.html %}
    </div>

    <script>
			// service worker
			if('serviceWorker' in navigator) {
				navigator.serviceWorker.register('/service-worker.js', { scope: '/' })
					.then(function(registration) {
						// service worker registered
						// console.log('Service Worker Registered');
					}
				);

				navigator.serviceWorker.ready.then(function(registration) {
					// service worker ready
					// console.log('Service Worker Ready');
				});
			}
    </script>

    <script src="{{ "/assets/js/jquery-3.1.1.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/bootstrap.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/scripts.min.js" | relative_url }}"></script>
  </body>
</html>
