<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>

    {% include navbar.html %}

    <div class="container">
      {{ content }}
    </div>

    <div class="container">
      {% include footer.html %}
    </div>

    {% include footer_script.html %}
    
    <script id="dsq-count-scr" src="//blogcalebnancecom.disqus.com/count.js" async></script>
    <script>
      if('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/service-worker.js').then(function() {
          console.log('Service Worker Registered');
        });
      }
    </script>
  </body>
</html>
