---
layout: default
---
<div class="home">
  <h1 class="page-heading">Welcome to another tech blog..</h1>
  {{ content }}
  {% for post in site.posts %}
    {% unless post.redirect_to %}
    {% unless post.nofeature %}
    <div class="post-block">
      <div class="post-data">
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> |
        <span class="post-cat"><a href="/tag/{{ post.categories }}/">{{ post.categories }}</a></span> |
        <span class="post-comments"><a href="{{ post.url | absolute_url }}#disqus_thread">&nbsp;</a></span>
      </div>
      <h2>
        <a class="post-link" href="{{ post.url | absolute_url }}">{{ post.title | escape }}</a>
      </h2>
    </div>
    {% endunless %}
    {% endunless %}
  {% endfor %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
</div>
